/*==================================================
=                ESTILOS GENERALES                 =
==================================================*/
body {
    margin: 0; 
}

/*==================================================
=                 PAGINA PRINCIPAL                 =
==================================================*/

.hero {
    height: 100vh; 
    background-size: cover; 
    background-position: center; 
  
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    padding-left: 40px; 
}
.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 0;
}

.hero {
    position: relative;
    overflow: hidden;
}
.hero-productos{
    padding-top: 50px;
    margin-top: 180px;
    height: 70vh;
    background-image: url('/img/fondoProductos.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.overlay-productos{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.25);
}

.titulo-hero-productos{
    position: relative;
    z-index: 2;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 72px;
    font-weight: 800;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.btn-pedido {
    display: inline-block; 
    padding: 10px 28px;    
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px);
    border-radius: 8px;   
    border: 1px solid rgba(255, 255, 255, 0.4);           
    color: white;          
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 12px;      
    text-decoration: none; 
    text-transform: uppercase; 
    letter-spacing: 2px;     
    margin-top: 5px;      
    transition: all 0.3s ease; 
    position: relative;
    z-index: 2;
}
.btn-pedido:hover {
    background-color: rgba(250, 250, 250); 
    color: black;
    transform: translateY(-2px);    
    border-color: white;                
    box-shadow: 0 4px 15px rgba(0,0,0,0.2)           
}

.contenido h1 {
    font-family: 'Cinzel', sans-serif;
    font-weight: 300;
    font-size: 120px; /* Tamaño de la palabra ReVe en el fondo */
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    margin: 0;
}

.contenido {
    position: relative;
    z-index: 2; 
    margin-top: 60px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
}

/*==================================================
=                BARRA NAVEGACION                  =
==================================================*/
.navbar {
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000; 
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(255, 255, 255, 0.09); 
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px);
    transition: all 0.4s ease;
}

.nav-top{
    text-align: center;
    width: 100%;
}

.nav-top h2 {
    font-family: 'Cinzel', serif; 
    font-size: 30px;
    margin: 30px auto 30px auto; 
    font-weight: 400;
    letter-spacing: 5px; 
    text-transform: uppercase; 
}

.nav-line {
    width: 100%; 
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5); 
    margin: 0 auto; 
}

.nav-menu {
    padding: 10px;
    text-align: center;
    background-color: transparent;
    width: 100%;
}

.nav-menu a {
    margin: 0 20px;
    text-decoration: none; 
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    font-family: 'Monserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 15px;
    display: inline-block;
    transition: all 0.4s ease;
}

.nav-menu:hover a {
     color: rgb(0, 0, 0); 
}


.nav-menu a:hover {
    opacity: 0.6; 
}
.navbar:hover {
    background-color: rgb(255, 253, 253); 
}

.navbar:hover .nav-top h2,
.navbar:hover .nav-menu a {
    color: rgb(0, 0, 0);
}
.navbar:hover .nav-line {
    background-color: rgba(0, 0, 0, 0.1);
}


/*==================================================
=                PAGINA PRODUCTOS                  =
==================================================*/

.producto-card {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.producto-card img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.4s ease;
}

.producto-card img:hover {
    transform: scale(1.08);
}

.producto-card h3 {
    margin-top: 15px;
    font-size: 18px;
}
.producto-card p {
    color: gray;
}
.titulo-seccion {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
}
.titulo-seccion h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    letter-spacing: 4px;
}
.titulo-seccion p {
    font-family: 'Monserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    color: #000000;
}
.categoria-titulo {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 20px;
}

/*==================================================
              PAGINA QUIENES SOMOS                =
==================================================*/
.hero-nosotros{
    padding-top: 50px;
    margin-top: 20px;
    height: 70vh;   
    background-image: url('/img/fondoii.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-nosotros{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.25);
}

.titulo-hero-nosotros{
    position: relative;
    z-index: 2;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 72px;
    font-weight: 800;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.historia-editorial{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    padding: 70px 8%;
}
.historia-texto{
    width: 50%;
}
.subtitulo-historia{
    display: block;
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.historia-texto h2{
    font-family: 'Cinzel', serif;
    font-size: 56px;
    margin-bottom: 35px;
}
.historia-texto p{
    line-height: 2;
    font-size: 18px;
    max-width: 520px;
}
.historia-imagen img{
    width: 500px;
    height: 650px;
    object-fit: cover;
}
/*---------------------------------*/

.mision{
display:flex;
flex-direction: row-reverse;
align-items:center;
justify-content:space-between;
padding:70px 8%;
gap:80px;
}
.mision-texto{
    width: 50%;
}
.subtitulo-mision{
    display: block;
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.mision-texto h2{
    font-family: 'Cinzel', serif;
    font-size: 56px;
    margin-bottom: 35px;
}
.mision-texto p{
    line-height: 2;
    font-size: 18px;
    max-width: 520px;
}
.mision-imagen img{
    width: 500px;
    height: 650px;
    object-fit: cover;
}
/*------------------------------------------------------------*/

.vision{
display:flex;
align-items:center;
justify-content:space-between;
padding:70px 8%;
gap:80px;
}
.vision-texto{
    width: 50%;
}
.subtitulo-vision{
    display: block;
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.vision-texto h2{
    font-family: 'Cinzel', serif;
    font-size: 56px;
    margin-bottom: 35px;
}
.vision-texto p{
    line-height: 2;
    font-size: 18px;
    max-width: 520px;
}
.vision-imagen img{
    width: 500px;
    height: 650px;
    object-fit: cover;
}
/*-------------------------------------*/
.titulo-staff{
   font-family:'Cinzel', serif;

   font-size:56px;

   font-weight:400;

   margin-bottom:35px;
}

/*==================================================
=            PAGINA COMERCIALIZACION               =
==================================================*/
.hero-informacion{
    padding-top: 50px;
    margin-top: 180px;
    height: 70vh;   
    background-image: url('/img/fondoi.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-informacion{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.25);
}

.titulo-hero-informacion{
    position: relative;
    z-index: 2;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 72px;
    font-weight: 800;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.mapa-editorial{
height:90vh;
background-image:url('/img/ubicac.jpg');
background-size:cover;
background-position:center;
position:relative;
display:flex;
justify-content:center;
align-items:center;
margin-top:120px;
}
.overlay-mapa{
position:absolute;
inset:0;
background:rgba(0,0,0,.28);
}
.mapa-contenido{
position:relative;
z-index:2;
text-align:center;
}

.mapa-contenido h2{
font-family:'Cinzel', serif;
font-size:72px;
color:white;
margin-bottom:40px;
}

.btn-mapa{
display:inline-block;
padding:18px 42px;
border:1px solid white;
color:white;
text-decoration:none;
letter-spacing:4px;
text-transform:uppercase;
}

.informacion-reve{
display:flex;
align-items:center;
justify-content:space-between;
padding:120px 8%;
gap:100px;
}

.informacion-texto{
width:50%;
}

.informacion-texto span{
letter-spacing:4px;
text-transform:uppercase;
}

.informacion-texto h2{
font-family:'Cinzel', serif;
font-size:58px;
margin:30px 0;
}

.informacion-imagen img{
width:500px;
height:650px;
object-fit:cover;
}

/*==================================================
=            SECCION NUESTROS PRODUCTOS HOME       =
==================================================*/
.productos-home{
padding:30px 8% 10px;
background:white;
}
.productos-header{
text-align:center;
margin-bottom:45px;
}
.subtitulo-home{
display:block;
font-size:14px;
letter-spacing:4px;
text-transform:uppercase;
margin-bottom:20px;
color: #000000;
}

.productos-header h2{
font-family:'Cinzel', serif;
font-size:62px;
font-weight:400;
}

.productos-slide-grid{
display:flex;
justify-content:center;
gap:50px;
padding:0 80px;
}
.producto-slide{
text-align:center;
color: #fefefe;
}
.producto-slide img{
width:250px;
height:290px;
object-fit:cover;
}

.producto-slide h3{
margin-top:22px;
font-family:'Playfair Display', serif;
font-size:26px;
}
.carousel-control-prev::after,
.carousel-control-next::after{
font-size: 28px;
color: black;
font-family: 'Cinzel', serif;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
background-image: none;
}

/*==================================================
=               SECCION CONOCENOS HOME            =
==================================================*/
.conocenos-home{
    color: #f2f0f0;
    height: 90vh;
    background-image: url('/img/conocenos.jpg');
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
text-align:center;
}

.conocenos-home::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.33);
}

.conocenos-contenido{
    position: relative;
    z-index: 2;
    text-align: center;
    max-width:760px;
    margin:0 auto;
}

.conocenos-contenido h2{
font-family:'Cinzel', serif;
font-size:64px;
font-weight:400;
margin:24px 0 30px;
}

.conocenos-contenido p{
font-family:'Playfair Display', serif;
font-size:28px;
line-height:1.8;
margin-bottom:45px;
}

.btn-conocenos{
display:inline-block;
padding:18px 42px;
border:1px solid #f2f0f0;
color:#fcfcfc;
text-decoration:none;
letter-spacing:4px;
text-transform:uppercase;
transition:.5s ease;
}

.btn-conocenos:hover{
background:#ffffff;
color:#000000;
}
/* ========================================= */
/* CATEGORÍAS HOME */
/* ========================================= */

.categorias-home{
    padding:20px 8% 60px;
    background:white;
}
.categorias-home .productos-header{
    margin-bottom: 25px;
}
.categorias-grid{
    display:flex;
    gap:30px;
    justify-content:center;
    flex-wrap: wrap;
}

.categoria-item{
    position:relative;
    width:350px;
    height:330px;
    overflow:hidden;
    text-decoration:none;
}

.categoria-item img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:0.5s ease;
}

.categoria-overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.35);
    display:flex;
    justify-content:center;
    align-items:center;
    transition: 0.4s ease;
}

.categoria-overlay h3{
    color:white;
    font-family:'Cinzel', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:40px;
    letter-spacing:5px;
}

.categoria-item:hover img{
    transform:scale(1.08);
}

.categoria-item:hover .categoria-overlay{
    background:rgba(0,0,0,0.15);
}

/*=================================
            NOVEDADES
==================================*/

.novedades-home{
    width: 100vw;
    padding:60px 8%;
    overflow: hidden;
    background:#fefefe;
}

.novedades-header{
    text-align:center;
    margin-bottom:40px;
}

.novedades-header h2{
    font-family:'Cinzel', serif;
    font-size:58px;
    font-weight:0;
}

.novedades-slide{
    display:flex;
    justify-content:center;
}

.novedades-slide img{
    width:100%;   
    height:500px;
    object-fit:cover;
    display: block;
}

#carouselNovedades .carousel-control-prev-icon,
#carouselNovedades .carousel-control-next-icon{
    filter: brightness(0);
    transform: scale(1.8);
}
/*=================================
            FOOTER
==================================*/

.footer-reve{
background:#fefefe;
padding-top:60px;
border-top:1px solid #d9cfc2;
margin-top:0px;
}

.footer-top{
display:flex;
justify-content:space-between;
padding:0 8% 60px;
}

.footer-col{
display:flex;
flex-direction:column;
gap:18px;
}

.footer-col h3{
font-family:'Cinzel', serif;
font-size:30px;
margin-bottom:20px;
}

.footer-col a{
text-decoration:none;
color:black;
letter-spacing:2px;
font-size:11px;
text-transform:uppercase;
}

.footer-col a:hover{
opacity:.6;
}

.footer-bottom{
text-align:center;
border-top:1px solid #d9cfc2;
padding:30px 0;
font-size:14px;
}